.todo-item {
    width: 100%;

    .checkButton{
        cursor: pointer;
    }

    .description {        
        margin-left: 1rem;        

        &.done {
            text-decoration: line-through;
        }
    }

    .removeButton {
        position: absolute;
        right: 1.3rem;
        color: #9e9e9e;
    }
}

.emptyList {
    margin: 1rem;
    font-family: sans-serif;
    color: #9E9E9E;
}

.mat-checkbox{
    width: calc(100% - 4rem);
}