.todo-item {
    width: 100%;

    .checkButton{
        cursor: pointer;
    }

    .description {        
        margin-left: 1rem;        

        &.done {
            text-decoration: line-through;
        }
    }

    .removeButton {
        position: absolute;
        right: 1.3rem;        
    }
}

.emptyList {
    margin: 1rem;
    font-family: sans-serif;    
}

.mat-checkbox{
    width: calc(100% - 4rem);
}

.content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 11.3rem;
}