<md-toolbar color="primary">
  <md-icon class="menu-icon" (click)="toggleSidenav()">menu</md-icon>
  <span>Todo App</span>
  <span class="fill-remaining-space"></span>

  <button md-icon-button [mdMenuTriggerFor]="menu" mdTooltip="Change theme"><md-icon>format_color_fill</md-icon></button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="changeTheme('default-theme')">Default</button>
    <button md-menu-item (click)="changeTheme('black-theme')">Dark</button>
    <button md-menu-item (click)="changeTheme('light-theme')">Light</button>
  </md-menu>

  <a href="https://github.com/PKief/angular-todo-app" md-icon-button mdTooltip="Github repo">
        <i class="material-icons">code</i>
      </a>
</md-toolbar>